# Python
__pycache__/
*.py[cod]

# Kivy / Buildozer / PyInstaller
.buildozer/
bin/
build/
dist/
*.spec
!buildozer.spec
vendor/
libs/

# Lokale App-Daten & Datenbanken
rechnung_daten.enc
rechnung_daten.salt
os_config.json
restored_logo*